body {
    background-color: #f2f2f2;
}

a, a:hover, a:link, a:visited, a:active {
    color: #607d8b;
    text-decoration: none;
}


/***** HEADER ******/

.main-container {
    margin-top: 1em;
    padding: 0px;
    background-color: white;
}

.header {
    background-color: #253237;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    padding: 2em 0em 2em 0em;
}

.header-feature {
    background-color: #36424a;
    border-radius: 0.8em;
    padding: 2.5em 0 2.5em 0;
}

@media only screen and (min-width: 768px){
    .header-feature {
        min-width: 340px;
    }
}

#header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    font-weight: 300;
    color: white;
    margin-bottom: 0.4em;
}

@media screen and (max-width: 426px){
    #header-title {
        font-size: 2em;
    }
}

.header-icon-set {
    margin-bottom: 1.5em;
}

.header-icon {
    height: 44px;
    margin-left: 1.3em;
}

@media screen and (max-width: 402px){
    .header-icon {
        margin-left: 1em;
    }
}

#header-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

/****** COMMON ******/
.card {
    box-shadow: 0 3px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/****** FEED CARD ******/

.feeds {
    margin-top: 2em;
}

.feed-card-container {
	margin: 1em 0 1em 0;
    background-color: #f7f7f7;
    padding: 2em 1em 1em 1em;
    border-radius: 0.5em;
}

.feed-card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.feed-card-separator > hr {
    margin-top: 0.8em;
    border: 0;
    height: 0;
    width: 300px;
    max-width: 75%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.feed-card-links>a {
    text-decoration: none;
}

.feed-card-button {
    background-color: #607d8b;
    color: white;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
    border: 0px;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    min-width: 129px;
}

/****** FEED ******/

.feed-container {
    margin-top: 1em;
    padding: 0px;
    background-color: white;
}

.feed-content {
    padding-left: 2em;
    margin-bottom: 2em;
}

.feeds {
    margin-bottom: 2em;
}

.feed-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-left: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.feed-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 2.4em;
    width: 97%
}

.field {
    margin-bottom: 3em;
}

.field-name {
    font-family: 'Roboto', sans-serif;
}

.field-input {
    padding: 0.7em 0.5em;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #d3d3d3;
    font-family: 'Roboto', sans-serif;
}

/****** INFOGRAM ******/

.infogram {
   margin-left: 3em;
   background-color: #f7f7f7;
   padding: 3em;
   margin-bottom: 2em;
}

.infogram-user-icon {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.infogram-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-bottom: 1.6em;
}

.infogram-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    margin-bottom: 1.3em;
}

.infogram-instructions {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    margin-top: 0.3em;
    margin-bottom: 1.3em;
    line-height: 1.7em;
}

.infogram-button {
    background-color: #607d8b;
    color: white;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.95em;
    
    border: 0px;
    border-radius: 5px;
    padding: 1em;
    min-width: 129px;
}

.infogram-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 3em;
    margin-left: 0.8em;
    margin-bottom: 1em;
    width: 96%;
}

.infogram-help-icon {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

/****** FEED FOOTER ******/

.feed-footer {
    padding-left: 2em;
}

.feed-footer-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1em;
    width: 97%;
}
