<div class="container">
	<div class="row text-center">
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.id.value" placeholder="{{$ctrl.fields.id.label}}" />
		</div>
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.name.value" placeholder="{{$ctrl.fields.name.label}}" />
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.url.value" placeholder="{{$ctrl.fields.url.label}}" />
		</div>
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.timezone.value" placeholder="{{$ctrl.fields.timezone.label}}" />
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.language.value" placeholder="{{$ctrl.fields.language.label}}" />
		</div>
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.phone.value" placeholder="{{$ctrl.fields.phone.label}}" />
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.fareUrl.value" placeholder="{{$ctrl.fields.fareUrl.label}}" />
		</div>
		<div class="col-sm-6">
			<input class="feed-input" ng-model="$ctrl.fields.email.value" placeholder="{{$ctrl.fields.email.label}}" />
		</div>
	</div>
</div>
